*{
    font-family: sans-serif;
}
.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    margin: 1rem auto;
    background-color: rgb(243, 239, 239);
    width: 75%;


}

img{
    height: 4.5rem;
}

.c{
    text-align: right;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 13rem;
}

input{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.4rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 1.4rem;
        
}